
.banner{
  background: url(../media/bg/banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 100px);
  display: grid;
  align-content: center;
  @include media-query(768px) {
    height: calc(100vh - 80px);
  }
  @include media-query(492px) {
    height: 550px;
  }
  .title{
    font-size: clamp(90px, 7.135vw, 180px);
    @include media-query(768px) {
      font-size: 72px;
    }
    @include media-query(490px) {
      font-size: 48px;
    }
  }

  h4{
    letter-spacing: -0.02em;
  }
  p{
    letter-spacing: 0.5px;
    margin-bottom: clamp(24px, 2.5vw, 64px);
    br{
      @include media-query(575px) {
        display: none;
      }
    }
  }

}